body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fc1e8a;
    user-select: none; /*O usuário não consegue selecionar os EMOJIS*/
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg,
     #03001e 0%,
     #7303c0 30%,
     #ec38bc 70%,
     #fdeff9 100%);
     padding: 40px 60px;
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 20px;
    width: 100%;
    border-radius: 6px;
    color: #000;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.512);
    background-color: #fff;
    border: none;
    font-size: 1.5em ;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:hover {
    background-color: #e5ff00;
}

.reset:focus {
    color: #fb00ff;
    background-color: #262809;
}

.game {
    
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    border-radius: 25%;
    box-shadow:  0px 4px 10px #00000065;
    width: 100px;
    height: 100px;
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    font-size: 4em; /*Altera o tamanho dos EMOJIS*/
    transform: rotateY(180deg);
    transition-duration: 0.5s;
}

.item:hover {
    background-color: #c8ff00;
    transition: 0.5s;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow:  0px 4px 10px #0000006d;
    border-radius: 25%;
    background: #1ff8b7;
    transform: rotateY(0deg);
    transition-duration: 0.3s;
    backface-visibility: hidden;
    /*opacity: 0.80;*/
}

.item:hover::after {
    background-color: #c8ff00;
    transition: 0.3s;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item.boxOpen::after,
.item.boxMatch::after {
    transform: rotateY(180deg);
}